html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.editable-img {
    position: relative;
    display: inline-block;
    cursor:pointer;
}

.editable-img img {
    display: block;
    width: 100%;
    transition: filter 0.3s ease;
}

.editable-img:hover img {
    filter: brightness(70%);
}

.edit-icon-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.editable-img:hover .edit-icon-img {
    opacity: 1;
}




.editable-txt {
    display:flex;
    position: relative;
    cursor:pointer;
}

.edit-icon-txt {
    font-size: 16px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    align-self:center;
}

.editable-txt:hover .edit-icon-txt {
    opacity: 1;
}

.min-btn{
    width: 5rem;
}
