@{
    Layout = "_NavLayout";
}

<li class="nav-item ms-auto mx-2">
    <a class="btn btn-primary" asp-area="" asp-controller="account" asp-action="login">Sign In</a>
</li>
<li class="nav-item">
    <a class="btn btn-outline-primary" asp-area="" asp-controller="account" asp-action="signup">Sign Up</a>
</li>