@model UserViewModel

@{
    string userpp = $"{Model.Id}.png";
}

<div class="d-flex gap-3 my-2">
    <div style="width:100px;height:100px;">
        <img class="w-100 h-100 rounded shadow" style="object-fit:cover;" src="~/uploads/profilepic/@userpp" alt="@Model.Username" />
    </div>

    <div class="d-flex flex-column">
        <h1 class="m-0">@Model.Username</h1>
        <span class="text-secondary">@Model.FullName</span>
    </div>
</div>