<form action="" method="post">
    <div class="d-grid gap-2">
        <input class="form-control" type="text" name="username" placeholder="username" />
        <input class="form-control" type="password" name="password" placeholder="password" />

        <button type="submit" class="btn btn-primary my-3 w-25">Login</button>

        <span class="text-danger">@ViewBag.error</span>
    </div>
</form>