<form action="" method="post">
    <div class="d-grid gap-2">
        <input class="form-control" type="text" name="name" placeholder="name" />
        <input class="form-control" type="text" name="surname" placeholder="surname" />
        <input class="form-control" type="text" name="username" placeholder="username" />
        <input class="form-control" type="email" name="email" placeholder="email" />
        <input class="form-control" type="password" name="password" placeholder="password" />

        <button type="submit" class="btn btn-primary my-3 w-25">Sign Up</button>

        <span class="text-danger">@ViewBag.error</span>
    </div>
</form>